:root {

    --theme: #E07B67;
    --bg: #121214;
    --dark20: #17171A;
    --dark30: #202024;
    --dark40: #252529;
    --text: #FFFFFF;
    --text2: #AFABB6;
    --border: 8px;
    --buttonHover: rgb(224, 123, 103, .2);
}

/*Reset das configurações padrões do site*/
* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

/*Titulo*/
@font-face {

    src: url("./src/fonts/Title/SpaceGrotesk-Bold.ttf");
    font-family: "Title";

}
/*Texto*/
@font-face {

    src: url("./src/fonts/Text/Inter_24pt-SemiBold.ttf");
    font-family: "Text";

}

body {

    font-family: "Text";
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--bg);
    
}

.Nav {

    background-color: var(--dark20);
    height: 283px;

}
.Titulo {

    font-family: "Title";

}
.textoDestacado {

    color: var(--theme);

}
.subTitulo {

    color: var(--text2);

}

.BarraDePesquisa {

    background-color: var(--dark30);
    height: 56px;
    border-color: var(--dark40);
    border-width: 2px;
    color: var(--text2);

}
.BarraDePesquisa::placeholder {

    color: var(--text2);

}
.BarraDePesquisa:focus {

    background-color: var(--dark30);
    outline: none;
    border-color: var(--theme);
    box-shadow: none;
    color: var(--text2);
    
}
/*Botão (x) de limpar o input*/
[type="search"]::-webkit-search-cancel-button {
    --webkit-apperance: none;
    appearance: none;
}

.postagem {

    border: 2px solid var(--dark40);
    background-color: var(--dark20);

}
.postagemCurtida {

    border: 2px solid var(--theme);
    background-color: var(--dark20);

}

.btnCurtir {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    padding: 10px;
    font-size: 20px;
    color: var(--theme);
    border-radius: 999px;
    cursor: pointer;

}
.btnCurtir:hover {

    background-color: var(--buttonHover);

}
