:root {

    --theme: #846AFF;
    --details: #EEEEFF;
    --bg: #FFFFFF;
    --bg2: #F8F8FF;
    --text: #121214;
    --textButton: #FFFFFF;
    --borderColor: #EAEAEA;
    --border: 4px;
}

/*Reset das configurações padrões do site*/
* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

/*Titulo*/
@font-face {

    src: url("./src/fonts/Title/Roboto-Bold.ttf");
    font-family: "Title";

}
/*Texto*/
@font-face {

    src: url("./src/fonts/Text/Roboto-Regular.ttf");
    font-family: "Text";

}

body {

    font-family: "Text";
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--bg2);
    
}

.Hero {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px 20px;
    background-color: var(--bg2);

}
.Apresentacao {
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.HeroTextos {
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 500px;

}
.HeroTextos .Titulo {
    
    font-family: "Title";
    font-size: 25px;

}
.textoDestacado {

    color: var(--theme);

}
.botao {

    max-width: 100%;
    width: 200px;
    height: 50px;
    border-radius: var(--border);
    background-color: var(--theme);
    border: 0;
    outline: 0;
    font-size: 15px;
    font-family: "Title";
    text-transform: uppercase;
    color: var(--textButton);
    transition: 0.2s;
    cursor: pointer;

}
.botao:hover {

    filter: brightness(.9);
}
.HeroImage {

    max-width: 100%;
    width: 100%;

}

/*Div apenas para centralização da seção*/
.ArtigosCenter {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    padding: 40px 0px;
    
}
.Artigos {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 1200px;
    gap: 50px;

}
/*Título*/
.Artigos p {

    font-family: "Title";
    font-size: 25px;

}
/*Div que organiza as postagens*/
.Postagens {

    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;
    padding: 0px 20px;

}
.Postagem {

    max-width: 100%;
    width: 380px;
    border-radius: var(--border);
    background-color: var(--bg);
    border: 2px solid var(--details);

}
/*Banner*/
.Postagem > .Banner img {

    max-width: 100%;
    width: 100%;

}
/*Textos da postagem*/
.Postagem .Textos {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 24px;

}
.Textos .Titulo {

    font-family: "Title";
    font-size: 15px;

}
.Textos .Descricao {

    font-family: "Text";
    font-size: 15px;

}

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;

}
/*Titulo*/
footer p {

    font-family: "Title";
    font-size: 25px;

}
footer form {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
footer form input {

    background-color: var(--bg);
    border: 1px solid var(--borderColor);
    border-radius: var(--border);
    outline: 0;
    max-width: 100%;
    width: 500px;
    height: 50px;
    padding: 19px 24px;

}
footer textarea {

    background-color: var(--bg);
    border: 1px solid var(--borderColor);
    border-radius: var(--border);
    outline: 0;
    max-width: 100%;
    width: 500px;
    height: 150px;
    padding: 19px 24px;
    font-family: "Text";
    resize: none;

}
footer textarea::placeholder {

    font-family: "Text";

}
footer form button {

    max-width: 100%;
    width: 100%;
    height: 35px;
    border-radius: var(--border);
    background-color: var(--theme);
    border: 0;
    outline: 0;
    font-size: 12px;
    font-family: "Title";
    text-transform: uppercase;
    color: var(--textButton);
    transition: 0.2s;
    cursor: pointer;

}
footer form button:hover {

    filter: brightness(.9);

}

@media screen and ( max-width: 1270px ) {

    .Postagens {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: center;
        justify-items: center;
    
    }

}
@media screen and ( max-width: 1200px ) {

    .Hero {

        flex-direction: column-reverse;
    }

}
@media screen and ( max-width: 830px ) {

    .Postagens {

        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-items: center;
    
    }

}
