:root {

    --theme: #d9ff00;
    --bg: #0b0b0b;
    --bg2: #0f0f0f;
    --details: #161616;
    --text: #FFFFFF;
    --subTitle: #a3a3a3;
    --border: 8px;
}

/*Reset das configurações padrões do site*/
* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

/*Titulo*/
@font-face {

    src: url("./src/fonts/Title/OpenSans-ExtraBold.ttf");
    font-family: "Title";

}
/*Texto*/
@font-face {

    src: url("./src/fonts/Text/Inter_24pt-Medium.ttf");
    font-family: "Text";

}

html {

    scroll-behavior: smooth;

}

body {

    font-family: "Text";
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--text);
    
}

header {

    position: fixed;
    background-color: var(--bg);
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 3px solid var(--details);

}
header .Titulo {

    font-family: "Title";
    color: var(--theme);
    font-size: 25px;
    
}
.NavsBtns {

    display: flex;
    align-items: center;
    gap: 20px;  

}
.NavBtn {

    text-decoration: none;
    font-family: "Text";
    color: var(--subTitle);
    transition: 0.2s;
    cursor: pointer;

}
.NavBtn:hover {

    color: var(--text);

}
main {

    max-width: 100%;
    padding-top: 50px;

}
.Hero {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    background-color: var(--bg2);

}
.HeroCenter {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px 20px;
    width: 1200px;

}
.Apresentacao {

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.Nome {

    font-size: 30px;
    color: var(--theme);
    font-family: "Title";

}
.MeuGithub {

    font-family: "Title";
    color: var(--bg);
    background-color: var(--theme);
    border: none;
    outline: none;
    padding: 10px 0px;
    width: 200px;
    border-radius: var(--border);
    cursor: pointer;
    transition: 0.2s;

}
.MeuGithub:hover {

    filter: brightness(.8);

}
.Imagem {

    max-width: 100%;

}

.SobreMim {

    display: flex;
    align-items: center;
    justify-content: center;
  
}
.SobreMimCenter {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    width: 1200px;
    padding: 20px 20px;

}
.SobreMim .Textos {

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.SobreMim .Textos .Titulo {

    font-family: "Title";
    font-size: 30px;
    color: var(--theme);

}

.Projetos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin-top: 20px;
    padding: 40px 0px;
    background-color: var(--bg2);

}
.Projetos .Titulo {

    font-family: "Title";
    font-size: 30px;
    color: var(--theme);

}
.ProjetosCenter {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.Projeto {

    background-color: var(--details);
    max-width: 100%;
    width: 400px;
    border-radius: var(--border);
    overflow: hidden;
    
}
.Banner img {

    max-width: 100%;
    width: 100%;

}
.Detalhes {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

}
.Informacoes {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.Informacoes .Titulo {

    color: var(--theme);
    font-size: 20px;

}
.Informacoes .Descricao {

    color: var(--subTitle);

}
.Botoes {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.Botao {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Title";
    color: var(--bg);
    background-color: var(--theme);
    border: none;
    outline: none;
    padding: 10px 0px;
    width: 100%;
    border-radius: var(--border);
    cursor: pointer;
    transition: 0.2s;

}
.BotaoSecundario {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Title";
    color: var(--text);
    background-color: var(--bg);
    border: none;
    outline: none;
    padding: 10px 0px;
    width: 100%;
    border: 2px solid var(--bg2);
    border-radius: var(--border);
    cursor: pointer;
    transition: 0.2s;

}
.Botao:hover, .BotaoSecundario:hover {

    filter: brightness(.8);

}

@media screen and (max-width: 900px) {

    .HeroCenter {

        flex-direction: column-reverse;

    }
    .Imagem img {

        width: 200px;
    
    }
    .ProjetosCenter {

        display: flex;
        flex-direction: column;

    }

}
@media screen and (max-width: 550px) {

    header {

        flex-direction: column;

    }
    .Projeto {

        width: 300px;
        
    }

}
